# Core functionality - changes here should be rare!
/src/app.py                   @khainghsuthwe
/src/backend/database.py      @khainghsuthwe
/src/backend/routers/auth.py  @khainghsuthwe

# The frontend will need refactored soon to be more object oriented.
/src/static/   @khainghsuthwe
